# Ignore Mac system files
.DS_store
*.DS_Store

# Ignore TE-Aid-master folder
# tetrimmer/TE-Aid-master

# Ignore .idea
.idea

# Ignore all __pycache__ files
tetrimmer/__pycache__
tetrimmerGUI/__pycache__
*.pyc

# Ignore database
pfam_database/
tetrimmerGUI/cdd_database