# Ignore Mac system files
.DS_store
*.DS_Store

# Ignore TE-Aid-master folder
# tetrimmer/TE-Aid-master

# Ignore .idea
.idea

# Ignore all __pycache__ files
tetrimmer/__pycache__
tetrimmerGUI/__pycache__
*.pyc

tests/test_genome.fasta.fai
tests/test_genome.fasta.length
tests/test_genome.fasta.ndb
tests/test_genome.fasta.nhr
tests/test_genome.fasta.nin
tests/test_genome.fasta.njs
tests/test_genome.fasta.not
tests/test_genome.fasta.nsq
tests/test_genome.fasta.ntf
tests/test_genome.fasta.nto


# Ignore database
pfam_database/
tetrimmerGUI/cdd_database